// placeholder colors for now
:root {
    --bg: #a011ef;
    --btn: #011000;
    --style: #dccdcc;
    --style2: radial-gradient(circle at center, #eaf, #fea, #fff);
    --style3: #1ea;
    --style4: #0af;
    --style5: #111111;
    --style12: #000;
}

// remove default padding and margin
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    background: var(--style2) center center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 16px;
}


@media (min-width: 900px) {

    main {
        display: flex;
    }

    .Header {
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.25);
        min-height: 100vh;
        flex: 0 0 auto;
    }
    
    .List__Container {
        display: flex;
        flex-direction: column;
        gap: 80px;
        padding: 3vw;
        height: 100%;
        text-align: center;
    }

    .List__Item {
        text-transform: uppercase;
        font-size: clamp(18px, 1vw, 20px);
        border-bottom: 2px solid #000;
        font-weight: 300;
        letter-spacing: 5px;
        color: black;
        list-style: none;
        padding: 15px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
    .List__Item:hover {
        background-color:#000;
        border-bottom: 2px solid #fff;
        color: #fff;
        width: 100%;
    }
    

    .User__Info {
        display: flex;
        margin: auto;
        flex-direction: column;
        padding-top: 40px;

    }

    .Info__Heading {
        text-transform: uppercase;
        letter-spacing: 5px;
        backdrop-filter: blur(5px);
        padding: 20px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.25);
        transition: all 0.3s ease-out;
    }

    .Info__Heading:hover {
        background-color: #000;
        cursor: pointer;
        color: #fff;
    }

    .DataList__Wrapper {
        backdrop-filter: blur(5px);
        margin-top: 20px;
        text-transform: uppercase;
        font-size: clamp(18px, 1vw, 20px);
        padding: 20px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.25);
        transition: all 0.3s ease-out;
    }

    .Data__Item {
        font-size: clamp(18px, 1vw, 20px);
        font-weight: 500;
        padding: 20px;
        margin: 30px;
        text-align: center;
        border: 2px solid transparent;
        transition: all ease-out;
    }

    .Data__Item:hover {
        cursor: pointer;
        background: hsla(100, 0%, 100%, 0.15);
        backdrop-filter: blur(5px);
    }

    .Random__City {
        display: flex;
        flex-direction: column;
    }

}

