:root {
  --style2: radial-gradient(circle at center, #eaf, #fea, rgba(255, 255, 255, 0.53));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--style2) center center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

@media (max-width: 899px) {
  main {
    display: flex;
    flex-direction: column;
    max-width: 1880px;
  }
  .Header {
    display: block;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border-bottom: 2px rgba(255, 255, 255, 0.25);
  }
  .Listed__Countries {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, minmax(1vw, -webkit-fit-content));
    grid-template-rows: repeat(auto, minmax(1vw, fit-content));
    position: absolute;
    inset: 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    width: 70%;
    row-gap: 20px;
    background: radial-gradient(circle at center, #eaf, #fea, rgba(255, 255, 255, 0.53));
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    padding: 25px 0;
    scroll-behavior: smooth;
  }
  .ListedCountry__Image {
    display: inline;
    margin-right: 4px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .Individual__Country {
    display: grid;
    justify-self: center;
    font-weight: 700;
    width: 50%;
    background-color: transparent;
    font-style: Verdana, Tahoma, sans-serif;
    font-size: clamp(1vw, 18px, 20px);
    padding: 20px;
    box-shadow: -2px 2px 0px 4px #000;
    cursor: pointer;
    transition: all 0.4s ease;
    scroll-behavior: smooth;
  }
  .Individual__Country:hover {
    background-color: #fff;
    transform: scale(1.1);
  }
  .List__Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
    padding: 30px 5px;
    width: 100%;
    background-color: hsla(48deg, 100%, 83%, 0.7);
    box-shadow: 0px 5px 5px 1px hsla(0deg, 0%, 0%, 0.4);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .List__Item {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
    color: #000;
    list-style: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-bottom: 4px solid #eaf;
    padding: 5px 0;
    transition: all 0.3s ease;
  }
  .List__Item:first-child {
    padding-left: 8px;
  }
  .List__Item:active {
    transform: translateY(4px);
    border-bottom-width: 2px;
  }
  .User__Info {
    display: flex;
    flex-direction: column;
  }
  .Info__Heading {
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    width: 90vw;
    margin: auto;
    padding: 12px 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.35);
    transition: all 0.3s ease-out;
  }
  .Info__Heading:hover {
    background-color: #000;
    cursor: pointer;
    color: #fff;
  }
  .DataType__Container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 90vw;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.25);
  }
  .DataType__Container:hover .Data__Item {
    background-color: #000;
    color: #fff;
  }
  .DataType__Container:hover .Called__Data {
    color: lightgreen;
  }
  .Data__Item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: hsla(100deg, 0%, 100%, 0.35);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    color: #000;
    border-radius: 5px;
    padding: 12px 0;
  }
  .Data__Item:hover {
    cursor: pointer;
    background: hsla(100deg, 0%, 100%, 0.15);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .Search__Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border: none;
  }
  .Search__Wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 30vh;
    height: 100vh;
    margin: 0 15px;
  }
  .Search__Heading {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    letter-spacing: 5px;
  }
  .Search__Field {
    display: block;
    background: hsla(100deg, 0%, 100%, 0.35);
    border: none;
    width: 100%;
    height: 4vh;
    padding: 20px;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 4px solid #fff;
    transition: all 0.4s ease;
  }
  .Search__Field:focus {
    background-color: hsla(0deg, 0%, 0%, 0.65);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    color: #fff;
  }
  .Search__Field:focus::-moz-placeholder {
    color: #fff;
  }
  .Search__Field:focus:-ms-input-placeholder {
    color: #fff;
  }
  .Search__Field:focus::placeholder {
    color: #fff;
  }
  .Btn {
    display: block;
    width: 25vw;
    padding: 12px;
    background: transparent;
    font-size: clamp(17px, 1vw, 20px);
    letter-spacing: 2px;
    transition: all 0.4s ease;
    color: #000;
  }
  .Btn:active {
    color: #000;
    background-color: #fff;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  .CountryData__Container {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 2px;
    flex-direction: column;
    align-items: center;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    background-color: hsla(0deg, 0%, 100%, 0.9);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    inset: 0;
    width: 65vw;
    padding: 50px;
    gap: 30px;
  }
  .Country__Data {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.3;
    gap: 10px;
    font-family: Helvetica, sans-serif;
    font-size: clamp(17px, 1vh, 20px);
    font-weight: 700;
    list-style: none;
  }
  .Called__Country {
    display: flex;
    flex-direction: column;
  }
  .Called__Country:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    color: #fff;
  }
  .CoatOfArms, .Flag {
    padding: 20px;
  }
  .Space {
    margin-top: 12px;
  }
}
@media (min-width: 900px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555aa4;
  }
  main {
    display: flex;
    max-width: 1880px;
  }
  .Header {
    display: flex;
    flex-direction: column;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.25);
    min-height: 100vh;
    flex: 0 0 auto;
  }
  .Listed__Countries {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, minmax(1vw, -webkit-fit-content));
    grid-template-rows: repeat(auto, minmax(1vw, fit-content));
    position: absolute;
    inset: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    width: 70%;
    row-gap: 20px;
    background: radial-gradient(circle at center, #eaf, #fea, rgba(255, 255, 255, 0.53));
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    padding: 25px 0;
    scroll-behavior: smooth;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }
  .ListedCountry__Image {
    display: inline;
    margin-right: 4px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .Individual__Country {
    display: grid;
    justify-self: center;
    font-weight: 700;
    width: 50%;
    background-color: transparent;
    font-style: Verdana, Tahoma, sans-serif;
    font-size: clamp(1vw, 18px, 20px);
    padding: 20px;
    box-shadow: -2px 2px 0px 4px #000;
    cursor: pointer;
    transition: all 0.1s ease;
    scroll-behavior: smooth;
  }
  .Individual__Country:hover {
    background-color: #fff;
    transform: scale(1.1);
  }
  .List__Container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 3vw;
    height: 100%;
    text-align: center;
  }
  .List__Item {
    text-transform: uppercase;
    font-size: clamp(18px, 1vw, 20px);
    border-bottom: 2px solid #000;
    font-weight: 300;
    letter-spacing: 5px;
    color: black;
    list-style: none;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .List__Item:hover {
    background-color: #000;
    border-bottom: 2px solid #fff;
    color: #fff;
    width: 100%;
  }
  .User__Info {
    display: flex;
    margin: auto;
    flex-direction: column;
    padding-top: 40px;
  }
  .Info__Heading {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.25);
    transition: all 0.3s ease-out;
  }
  .Info__Heading:hover {
    background-color: #000;
    cursor: pointer;
    color: #fff;
  }
  .DataType__Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 50vw;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    text-transform: uppercase;
    font-size: clamp(18px, 1vw, 20px);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.25);
  }
  .DataType__Container:hover {
    background-color: #000;
    color: #fff;
  }
  .DataType__Container:hover .Data__Item {
    border-bottom: 2px solid #fff;
  }
  .DataType__Container:hover .Called__Data {
    color: lightgreen;
  }
  .Data__Item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: clamp(18px, 1vw, 20px);
    font-weight: 500;
    padding: 20px 20px 15px 20px;
    margin: 30px;
    text-align: center;
    border: 2px solid transparent;
    transition: all ease-out;
    list-style: none;
    border-bottom: 2px solid #000;
  }
  .Data__Item:hover {
    cursor: pointer;
    background: hsla(100deg, 0%, 100%, 0.15);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .Random__City {
    display: flex;
    flex-direction: column;
  }
  .Location, .LatLong {
    list-style: none;
  }
  .Search__Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 100vh;
  }
  .Search__Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border: none;
  }
  .Search__Heading {
    display: block;
    text-transform: uppercase;
    font-size: clamp(19px, 1vw, 20px);
    font-weight: 700;
    letter-spacing: 5px;
  }
  .Search__Field {
    display: block;
    background: hsla(100deg, 0%, 100%, 0.35);
    border: none;
    width: 100%;
    height: 4vh;
    padding: 20px;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(19px, 1vw, 22px);
    border-bottom: 4px solid #fff;
    transition: all 0.4s ease;
    letter-spacing: 2px;
  }
  .Search__Field:focus {
    background-color: hsla(0deg, 0%, 0%, 0.65);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    color: #fff;
  }
  .Search__Field:focus::-moz-placeholder {
    color: #fff;
  }
  .Search__Field:focus:-ms-input-placeholder {
    color: #fff;
  }
  .Search__Field:focus::placeholder {
    color: #fff;
  }
  .Btn {
    display: block;
    width: 25vw;
    padding: 12px;
    background: none;
    font-size: clamp(19px, 1vw, 20px);
    letter-spacing: 2px;
    transition: all 0.4s ease;
  }
  .Btn:hover {
    color: #fff;
    background-color: #000;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  .CountryData__Container {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 2px;
    flex-direction: column;
    align-items: center;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    background-color: hsla(0deg, 0%, 100%, 0.9);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    inset: 0;
    width: 65vw;
    padding: 50px;
    gap: 30px;
  }
  .Country__Data {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.3;
    gap: 10px;
    font-family: Helvetica, sans-serif;
    font-size: clamp(17px, 1vh, 20px);
    font-weight: 700;
    list-style: none;
  }
  .Called__Country {
    display: flex;
    flex-direction: column;
  }
  .Called__Country:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    color: #fff;
  }
  .CoatOfArms, .Flag {
    padding: 20px;
  }
  .Space {
    margin-top: 12px;
  }
}/*# sourceMappingURL=styles.css.map */