:root {
  --style2: radial-gradient(circle at center, #eaf, #fea, #fff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  -webkit-backdrop-filter: contrast(5px);
          backdrop-filter: contrast(5px);
  background: var(--style2) center center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 16px;
  position: relative;
}

li {
  list-style: none;
}

@media (min-width: 900px) {
  main {
    display: flex;
  }
  .Header {
    display: flex;
    flex-direction: column;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.25);
    min-height: 100vh;
    flex: 0 0 auto;
  }
  .List__Container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 3vw;
    height: 100%;
    text-align: center;
  }
  .List__Item {
    text-transform: uppercase;
    font-size: clamp(18px, 1vw, 20px);
    border-bottom: 2px solid #000;
    font-weight: 300;
    letter-spacing: 5px;
    color: black;
    list-style: none;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .List__Item:hover {
    background-color: #000;
    border-bottom: 2px solid #fff;
    color: #fff;
    width: 100%;
  }
  .User__Info {
    display: flex;
    margin: auto;
    flex-direction: column;
    padding-top: 40px;
  }
  .Info__Heading {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.25);
    transition: all 0.3s ease-out;
  }
  .Info__Heading:hover {
    background-color: #000;
    cursor: pointer;
    color: #fff;
  }
  .DataType__Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 50vw;
    margin-top: 20px;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    text-transform: uppercase;
    font-size: clamp(18px, 1vw, 20px);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.25);
    transition: all 0.3s ease-out;
  }
  .DataType__Container:hover {
    margin-top: 0px;
  }
  .Data__Item {
    font-size: clamp(18px, 1vw, 20px);
    font-weight: 500;
    padding: 20px;
    margin: 30px;
    text-align: center;
    border: 2px solid transparent;
    transition: all ease-out;
    list-style: none;
  }
  .Data__Item:hover {
    cursor: pointer;
    background: hsla(100deg, 0%, 100%, 0.15);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .Random__City {
    display: flex;
    flex-direction: column;
  }
  .Location, .LatLong {
    list-style: none;
  }
  .Search__Form {
    width: 50vw;
  }
  .Search__Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border: none;
  }
  .Search__Heading {
    display: block;
    text-transform: uppercase;
    font-size: clamp(19px, 1vw, 20px);
    font-weight: 700;
    letter-spacing: 5px;
  }
  .Search__Field {
    display: block;
    background: hsla(100deg, 0%, 100%, 0.35);
    border: none;
    width: 100%;
    height: 4vh;
    padding: 20px;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(19px, 1vw, 22px);
    border-bottom: 4px solid #fff;
    transition: all 0.4s ease;
    letter-spacing: 2px;
  }
  .Search__Field:focus {
    background-color: hsla(0deg, 0%, 0%, 0.65);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    color: #fff;
  }
  .Btn {
    display: block;
    width: 25vw;
    padding: 12px;
    background: none;
    font-size: clamp(19px, 1vw, 20px);
    letter-spacing: 2px;
    transition: all 0.4s ease;
  }
  .Btn:hover {
    color: #fff;
    background-color: #000;
  }
}/*# sourceMappingURL=styles.css.map */